<!--Footer-->
    <footer class="page-footer font-small special-color-dark">

        <!--Footer Elements-->
        <div class="container">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-12">
                    <div class="mb-3 flex-center">

                        <!--Facebook-->
                        <div class="m-3">
                            <a class="li-ic">
                                <i class="fab fa-facebook fa-lg white-text fa-2x"> </i>
                            </a>
                        </div>
                        <!--Linkedin-->
                        <div class="m-3">
                            <a class="li-ic">
                                <i class="fab fa-linkedin fa-lg white-text fa-2x"> </i>
                            </a>
                        </div>
                        <!--GitHub-->
                        <div class="m-3">
                            <a class="li-ic">
                                <i class="fab fa-github fa-lg white-text fa-2x"> </i>
                            </a>
                        </div>
                        <!--GitLab-->
                        <div class="m-3">
                            <a class="li-ic">
                                <i class="fab fa-gitlab fa-lg white-text fa-2x"> </i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
        <!-- Footer Elements -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © @DateTime.Now.Year Copyright: <a>Emil Holm Hansen</a>
        </div>
        <!-- Copyright -->

    </footer>
<!-- Footer -->

<style>
    .li-ic:hover i {
        color: lightskyblue!important;
        transform: scale(1.2);
    }
</style>